<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <h1 class="mt-4">User Info</h1>

        <div class="form-group">
            <label >이메일</label>
            <input class="form-control title" th:value="${result.email}" name="email" readonly>
        </div>
        <div class="form-group">
            <label >닉네임</label>
            <input class="form-control" th:value="${result.nickname}" name="nickname" readonly>
        </div>
        <div class="form-group">
            <label >폰번호</label>
            <input class="form-control" th:value="${result.phoneNumber}" name="phoneNumber" readonly>
        </div>
        <div class="form-group">
            <label >게시글 수</label>
            <!-- <input class="form-control" th:value="${result.}" name="description" readonly> -->
            <a th:href="@{/items/info/{email} (email=${result.email})}" class="postBtn" th:text="${result.postCnt}"></a>
            <!-- <button type="button" class="postBtn btn-secondary" th:text="${result.postCnt}"></button> -->
        </div>
        <div class="form-group">
            <label >댓글 수</label>
            <!-- <input class="form-control" th:value="${result.status}" name="status" readonly> -->
            <a th:href="@{/reviews/info/{email} (email=${result.email})}" th:text="${result.reviewCnt}"></a>
        </div>

    <a href="/">돌아가기</a>

    <script th:inline="javascript">

        $(document).ready((e) => {

            function replace(url) {
                url = encodeURIComponent(url);
                return url;
            }

        });
        
        $(".postBtn").on("click", () => {
            
            var email = [[${result.email}]];

            email = replace(email);

            var url = "/items/info/"+email+"?page=0";

            console.log(url);

            location.href=url;

        });

    </script>

    </th:block>
</th:block>
</html>