<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">

    <th:block th:fragment="content">

        <div sec:authorize="isAuthenticated()">
            어서오세요! <span sec:authentication="principal.name"></span>님!
            <a href="/logout">
                <button type="button" class="logout btn-primary">로그아웃</button>
            </a>

            <h1>
                <a th:href="@{/members/{email} (email=${memberDTO.email})}">
                    내 정보
                </a>
            </h1>

            <h1>
                <a href="/items/new" class="btn btn-primary">
                    물픔 등록
                </a>
            </h1>

            <h1>
                <a href="/offers" class="btn btn-primary">
                    내 아이템 구매 요청 내역
                </a>
            </h1>

            <h1>
                <a href="/offers/list" class="btn btn-primary">
                    내가 요청한 내역
                </a>
            </h1>

<!--            <h1 class="mt-4" th:text="${memberDTO.email}">나옴?</h1>-->
        </div>

        <div sec:authorize="isAnonymous()">
            <h1>
                <a href="/members/login" class="btn btn-light">
                    로그인
                </a>
            </h1>
        </div>

        <hr class="my-4">

        <h1>
            <a href="/items" class="btn btn-primary">
                물픔 리스트
            </a>
        </h1>

    </th:block>
</th:block>
</html>