<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/create :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <div class="py-5 text-center">
            <h2>상품 등록</h2>
            <p class="lead">상품 등록을 위한 정보들을 입력해 주세용!!</p>
        </div>

        <div class="row g-5">
            <div>
                <form class="needs-validation" th:action="@{/items/new}" th:object="${itemSaveDTO}" method="post">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="title" class="form-label">상품명</label>
                            <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="" value="" required>
                            <div class="invalid-feedback">
                                상품명은 필수 입력 항목입니다!
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="sellPrice" class="form-label">판매가격</label>
                            <input type="text" class="form-control" id="sellPrice" th:field=*{sellPrice} placeholder="" value="" required>
                            <div class="invalid-feedback">
                                판매가격은 필수 입력 항목입니다!
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="category" class="form-label">카테고리</label>
                            <div class="input-group has-validation">
<!--                                <input type="text" class="form-control" id="category" placeholder="Username" required>-->

                                <select id="category" th:field="*{categoryId}" class="form-select">
                                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                </select>

                                <div class="invalid-feedback">
                                    카테고리 항목은 필수입니다!
                                </div>
                            </div>
                        </div>

                        <div class="form-group fileForm">
                            <label >상품사진 <span class="text-muted">(Optional)</span></label>
<!--                            <input type="email" class="form-control" id="email" placeholder="you@example.com">-->
<!--                            <div class="invalid-feedback">-->
<!--                                Please enter a valid email address for shipping updates.-->
<!--                            </div>-->
                            <div class="custom-file">
                                <input id="fileInput" class="custom-file-input files" type="file" multiple>
                                <label class="custom-file-label" data-browse="Browse"></label>
                            </div>
                        </div>

                        <div class="box">

                        </div>

                        <div class="col-12">
                            <label for="description" class="form-label">상품 설명</label>
                            <textarea id="description" class="form-control" rows="5" field="*{description}"></textarea>

                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>


                        <div class="col-md-5">
                            <label for="sido" class="form-label">시/도</label>
                            <select id="sido" class="form-select" required>
                        
                            </select>
                            <div class="invalid-feedback">
                                지역 정보 선택 필수!
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label for="sigg" class="form-label">시/군/구</label>
                            <select id="sigg" class="form-select" required>

                            </select>
                            <div class="invalid-feedback">
                                지역 정보 선택 필수!
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label for="emd" class="form-label">읍/면/동</label>
                            <select id="emd" class="form-select" required>

                            </select>
                            <div class="invalid-feedback">
                                지역 정보 선택 필수!
                            </div>
                        </div>
                    </div>

                   <hr class="my-4">

<!--                    <div class="form-check">-->
<!--                        <input type="checkbox" class="form-check-input" id="same-address">-->
<!--                        <label class="form-check-label" for="same-address">Shipping address is the same as my billing address</label>-->
<!--                    </div>-->

<!--                    <div class="form-check">-->
<!--                        <input type="checkbox" class="form-check-input" id="save-info">-->
<!--                        <label class="form-check-label" for="save-info">Save this information for next time</label>-->
<!--                    </div>-->

<!--                    <hr class="my-4">-->

<!--                    <h4 class="mb-3">Payment</h4>-->

<!--                    <div class="my-3">-->
<!--                        <div class="form-check">-->
<!--                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked required>-->
<!--                            <label class="form-check-label" for="credit">Credit card</label>-->
<!--                        </div>-->
<!--                        <div class="form-check">-->
<!--                            <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>-->
<!--                            <label class="form-check-label" for="debit">Debit card</label>-->
<!--                        </div>-->
<!--                        <div class="form-check">-->
<!--                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>-->
<!--                            <label class="form-check-label" for="paypal">PayPal</label>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="row gy-3">-->
<!--                        <div class="col-md-6">-->
<!--                            <label for="cc-name" class="form-label">Name on card</label>-->
<!--                            <input type="text" class="form-control" id="cc-name" placeholder="" required>-->
<!--                            <small class="text-muted">Full name as displayed on card</small>-->
<!--                            <div class="invalid-feedback">-->
<!--                                Name on card is required-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="col-md-6">-->
<!--                            <label for="cc-number" class="form-label">Credit card number</label>-->
<!--                            <input type="text" class="form-control" id="cc-number" placeholder="" required>-->
<!--                            <div class="invalid-feedback">-->
<!--                                Credit card number is required-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="col-md-3">-->
<!--                            <label for="cc-expiration" class="form-label">Expiration</label>-->
<!--                            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>-->
<!--                            <div class="invalid-feedback">-->
<!--                                Expiration date required-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="col-md-3">-->
<!--                            <label for="cc-cvv" class="form-label">CVV</label>-->
<!--                            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>-->
<!--                            <div class="invalid-feedback">-->
<!--                                Security code required-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <hr class="my-4">-->

                    <button class="w-100 btn btn-primary btn-lg" type="submit">물품 등록</button>
                </form>

                <!-- 이미지 임시로 보여지는 곳. -->
                <style>
                    .uploadResult {
                        width: 100%;
                        background-color: gray;
                        margin-top: 10px;
                    }

                    .uploadResult ul {
                        display: flex;
                        flex-flow: row;
                        justify-content: center;
                        align-items: center;
                        vertical-align: top;
                        overflow: auto;
                    }

                    .uploadResult ul li {
                        list-style: none;
                        padding: 10px;
                        margin-left: 2em;
                    }

                    .uploadResult ul li img {
                        width: 100px;
                    }
                </style>

                <div class="uploadResult">
                    <ul>

                    </ul>
                </div>
            </div>
        </div>
        
        <script th:inline="javascript">

            $(document).ready(function(e){

                // Item image

                var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
                var maxSize = 10485760; // 10MB

                function checkExtension(fileName, fileSize) {

                    if(fileSize >= maxSize) {
                        alert("파일 사이즈 초과!!");
                        return false;
                    }

                    if(regex.test(fileName)) {
                        alert("지원하는 종류의 파일이 아닙니다.. 이미지 파일로 올려주세요");
                        return false;
                    }

                    return true;

                }

                function showResult(uploadResultArr) {

                    var uploadUL = $(".uploadResult ul");

                    var str = "";

                    $(uploadResultArr).each(function(i, obj) {
                        str += "<li data-name='" + obj.fileName + "' data-path='"
                            + obj.folderPath + "' data-uuid='" + obj.uuid + "'>";
                        str += "<div>";
                        str += "<button type='button' data-file=\'" + obj.imageURL + "\' ";
                        str += "class='btn-warning btn-sm'>X</button><br>";
                        str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
                        str += "</div>";
                        str += "</li>";
                    });

                    uploadUL.append(str);

                }

                $(".custom-file-input").on("change", function() {

                    var fileName = $(this).val().split("\\").pop();

                    console.log(fileName);

                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

                    var formData = new FormData();

                    var inputFile = $(this);

                    var files = inputFile[0].files;

                    var appended = false;

                    for(var i = 0; i < files.length; i++) {
                        
                        if(!checkExtension(files[i].name, files[i].size)) {
                            return false;
                        }

                        console.log(files[i]);
                        
                        formData.append("uploadFiles", files[i]);
                        appended = true;

                    }

                    // 추가된 파일이 없으면 upload를 하지 않음.
                    if(!appended) {return;}

                    for(var value of formData.values()) {
                        console.log(value);
                    }


                    $.ajax({
                        url: '/uploadAjax',
                        processData: false, // 데이터를 컨텐트 타입에 맞게 변환 여부.
                        contentType: false,
                        data: formData,
                        type: 'POST',
                        dataType: 'json',
                        success: function(result) {
                            console.log(result);
                            showResult(result);
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            console.log(textStatus);
                        }
                    });
                });

                $(".uploadResult").on("click", "li button", function(e) {
                    console.log("delete file");
                    var targetFile = $(this).data("file");
                    var targetLi = $(this).closest("li");

                    $.ajax({
                        url: "/removeFile",
                        data: {fileName: targetFile},
                        dataType: 'text',
                        type: 'POST',
                        success: function(result) {
                            alert(result);
                        }
                    });

                    targetLi.remove();
                })
                
                // 지역 select box
                var sidoSelect = $("#sido");
                var siggSelect = $("#sigg");
                var emdSelect = $("#emd");
            
                // 처음 화면 뜰 때 시/도 초기화.
                $.getJSON("/sido", function(arr) {
                    
                    var str = "";
                    var data = arr["data"];

                    str += "<option value='' selected disabled hidden >선택해주세요.</option>"
                    
                    $.each(data, function(idx, sido) {

                        str += "<option class='sidoOption' value=" + sido.id + ">" + sido.name + "</option>";

                    });

                    sidoSelect.append(str);

                });

                // 처음 화면 뜰 때 시/군/구 초기화.
                $.getJSON("/sigg/1", function(arr) {
                    
                    var str = "";
                    var data = arr["data"];

                    str += "<option value='' selected disabled hidden >선택해주세요.</option>"
                    
                    $.each(data, function(idx, sigg) {

                        str += "<option class='siggOption' value=" + sigg.id + ">" + sigg.name + "</option>";

                    });

                    siggSelect.append(str);

                });

                // 처음 화면 뜰 때 읍/면/동 초기화.
                $.getJSON("/emd/1", function(arr) {
                    
                    var str = "";
                    var data = arr["data"];

                    str += "<option value='' selected disabled hidden >선택해주세요.</option>"
                    
                    $.each(data, function(idx, emd) {

                        str += "<option class='emdOption' value=" + emd.id + ">" + emd.name + "</option>";

                    });

                    emdSelect.append(str);

                });


                // 시/도 선택 시 시군구 변하게.
                $("#sido").on("change", function() {

                    var sidoId = $(this).val();

                    console.log("sidoId : " + sidoId);

                    $.getJSON("/sigg/"+sidoId, function(arr) {
                        
                        var data = arr["data"];
                        var str = "";

                        str += "<option value='' selected disabled hidden >선택해주세요.</option>"

                        console.log(data);

                        siggSelect.find("option").remove();

                        $.each(data, function(idx, sigg) {

                            str += "<option class='siggOption' value=" + sigg.id + ">" + sigg.name + "</option>";

                        });

                        siggSelect.append(str);

                    })

                });

                $("#sigg").on("change", function() {
                    
                    var siggId = $(this).val();

                    console.log("siggId : " + siggId);

                    $.getJSON("/emd/" + siggId, function(arr) {

                        var str = "";
                        var data = arr["data"];

                        emdSelect.html("");

                        str += "<option value='' selected disabled hidden >선택해주세요.</option>";

                        $.each(data, function(idx, emd) {
                            str += "<option class='emdOption' value=" + emd.id + ">" + emd.name + "</option>";
                        });

                        emdSelect.append(str);

                    });

                });

                $(".btn-primary").on("click", function(e) {
                    e.preventDefault();

                    var str = "";

                    $(".uploadResult li").each(function(i, obj) {
                        
                        var target = $(obj);

                        str += "<input type='hidden' name='imageDTOList["+i+"].imgName' value='"
                                +target.data('name')+"'>";
                        str += "<input type='hidden' name='imageDTOList["+i+"].path' value='"
                                +target.data('path')+"'>";
                        str += "<input type='hidden' name='imageDTOList["+i+"].uuid' value='"
                                +target.data('uuid')+"'>";

                    });

                    $(".box").html(str);

                    $(".form").submit();
                })
                

            });

        </script>

    </th:block>
</th:block>
</html>