<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <h1 class="mt-4">물건 세부 사항</h1>

        <div class="form-group">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" th:if="${item.imageDTOList.size() > 0 && item.imageDTOList[0].path != null}" th:src="|/display?fileName=${item.imageDTOList[0].getImageURL()}|">
        </div>
        <div class="form-group">
            <label >title</label>
            <input class="form-control" th:value="${item.title}" name="title" readonly>
        </div>
        <div class="form-group">
            <label >sellPrice</label>
            <input class="form-control" th:value="${item.sellPrice}" name="sellPrice" readonly>
        </div>
        <div class="form-group">
            <label >category</label>
            <input class="form-control" th:value="${item.category}" name="category" readonly>
        </div>
        <div class="form-group">
            <label >description</label>
            <input class="form-control" th:value="${item.description}" name="description" readonly>
        </div>
        <div class="form-group">
            <label >status</label>
            <input class="form-control" th:value="${item.status}" name="status" readonly>
        </div>
        <div class="form-group">
            <label >area</label>
            <input class="form-control" th:value="|${item.sidoArea} / ${item.siggArea} / ${item.emdArea}|" name="area" readonly>
        </div>
        <div class="form-group">
            <label >email</label>
            <input class="form-control" th:value="${item.email}" name="email" readonly>
        </div>
        <div class="form-group">
            <label >phoneNumber</label>
            <input class="form-control" th:value="${item.phoneNumber}" name="phoneNumber" readonly>
        </div>
        <div class="form-group">
            <label >rating</label>
            <input class="form-control" th:value="${item.rating}" name="rating" readonly>
        </div>

        <div>
            <a th:href="@{/items/modify/{id} (id=${item.id})}">수정</a>
            <a th:href="@{/items/delete/{id} (id=${item.id})}">삭제</a>
        </div>
        <a href="/items" class="btn btn-secondary">돌아가기</a>

        <script th:inline="javascript">
            $(document).ready(e => {
                
            });
        </script>

    </th:block>
</th:block>
</html>